:root {
    --background-color: black;
    --primary-color: white;
    --default-font-size: 1.5rem;
}

html {
    font-size: 62.5%;
    font-family: sans-serif
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
    margin-top: 4rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h1, h2 {
    font-style: bold;
    color:var(--primary-color);
    margin: 2rem 0 1rem;
}

p {
    font-size: var(--default-font-size);
    color:var(--primary-color);
    margin: 7px;
    line-height: calc(var(--default-font-size) + .5rem);
    text-align: center;
    min-width: 0;
}

nav {
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: var(--background-color);
    overflow: hidden;
    box-sizing: border-box;
    height: 3.5rem;
    margin: 1rem 0 2rem;
    border-radius: 25px;
    position: fixed;
    border: 3px solid var(--primary-color);
    top: 0;
    width:fit-content;
}

.nav__elem {
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__icon {
    height: 70%;
    aspect-ratio: 1/1;
    filter: brightness(0) invert(1);
}

.nav__elem.active{
    background: var(--primary-color);
}

.nav__elem.active .nav__icon {
    filter: brightness(1) invert(0);
}

.about-me__img {
    width: 75%;
}

@media (max-width: 450px) {
    :root {
        --default-font-size: 2rem;
    }

    nav {
        height: 5rem;
    }

    body {
        margin-top: 5rem;
    }
}